<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__LIB__/html5shiv.js"></script>
<script type="text/javascript" src="__LIB__/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js" ></script>

<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__LIB__/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	<span class="c-gray en">&gt;</span>
	检验管理
	<span class="c-gray en">&gt;</span>
	检验操作 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<form action="/admin/Checkedoperatio/checkedOperatio_post" method="post" class="form form-horizontal" id="form-article-add">
 <input type="hidden" name="types" value="{$login['types']}" />
<!-- 扫码操作页面 -->
{if condition="$login['types']==1"}
<div class="page-container">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>扫码编号：</label>
			<div class="formControls col-xs-4 col-sm-5">
				<input type="text" class="input-text"  value="" placeholder="扫码二维码的唯一编码" id="qrcode_content" name="qrcode_content">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>&nbsp;&nbsp;确认扫码&nbsp;&nbsp;</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消扫码&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
{/if}
<!-- 生码操作页面 -->
{if condition="$login['types']==2"}
<div class="page-container">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>存货编码：</label>
            <div class="formControls col-xs-4 col-sm-7">
                <input type="text" class="input-text"  value="" placeholder="存货编码" id="inventory_code" name="inventory_code">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>加工图号：</label>
            <div class="formControls col-xs-4 col-sm-7">
                <input type="text" class="input-text"  value="" placeholder="加工图号" id="figure_number" name="figure_number">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>二维码部件编号：</label>
            <div class="formControls col-xs-4 col-sm-7">
                <input type="text" class="input-text"  value="" placeholder="二维码部件的唯一编码" id="qrcode_content" name="qrcode_content[]">
            </div>
            <div class="formControls col-xs-4 col-sm-2">
                <input type="button" class="btn btn-primary radius" value="增加" id="addTable"/>
                <input type="button" class="btn btn-primary radius" value="删除" id="deleteTable"/>
            </div>
        </div>
        <div class="row cl" id="table1"></div>
        <div class="row cl"></div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>&nbsp;&nbsp;确认生码&nbsp;&nbsp;</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消生码&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

{/if}

<!-- 绑码操作页面 -->
{if condition="$login['types']==3"}
<div class="page-container">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>成品编码：</label>
            <div class="formControls col-xs-4 col-sm-5">
                <input type="text" class="input-text"  value="" placeholder="扫码二维码的唯一编码" id="qrcode_content1" name="qrcode_content1">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>半成品编码：</label>
            <div class="formControls col-xs-4 col-sm-5">
                <input type="text" class="input-text"  value="" placeholder="扫码二维码的唯一编码" id="qrcode_content2" name="qrcode_content2">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>&nbsp;&nbsp;确认绑码&nbsp;&nbsp;</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消绑码&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/if}

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script>
    $(document).ready(function(){
        $("#addTable").click(function(){
            var tr="<label class=\"form-label col-xs-4 col-sm-3\"><span class=\"c-red\">*</span>二维码部件编号：</label>"+
                "<div class=\"formControls col-xs-4 col-sm-7\">\n" +
                "        <input type=\"text\" class=\"input-text\"  value=\"\" placeholder=\"二维码部件的唯一编码\"  name=\"qrcode_content[]\">\n" +
                "        </div>";
            $("#table1").append(tr);
        });
        $("#deleteTable").click(function(){
            var check = document.getElementsByName("check");
            for(var i=0;i<check.length;i++){
                if(check[i].checked){
                    document.getElementById('table1').deleteRow(i);
                    i--;
                }
            }
        })
    });
</script>
<script type="text/javascript">
//监听input框，实时渲染
$('#inventory_class_name').on('input', function() {
    initSearchList($('#inventory_class_name').val());
});

function initSearchList(event) {
    if (event != '') {
        $.post("/admin/Working/vague/vague/" + event, function (data) {
            var m = '';
            for (var i = 0; i < data.length; i++) {
                //console.log(data[i]);
                m += "<li id='" + data[i].inventory_class_id + "' onclick='textClick(" + data[i].inventory_class_id + ")' style='color: #F00;'>" + data[i].inventory_class_name + "</li>";
            }
            $('#searchResult').append(m);
        });
    } else {
        $('#searchResult').hide();
    }
}

function textClick(id) {
    var name = document.getElementById(id).innerHTML;
    //console.log(name);
    document.getElementById("inventory_class_name").value = name;
    $("#inventory_class_id").attr("value", id);
    $("#searchResult").css("display", "none");
}

</script>
</body>
</html>