<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__LIB__/html5shiv.js"></script>
<script type="text/javascript" src="__LIB__/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__LIB__/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	配套区管理 <span class="c-gray en">&gt;</span>
	配套检验结果
    <input type="hidden" name="specification_type" value="{$specification_type}">
    <input type="hidden" name="number" value="{$number}">
</nav>
<div class="page-container">
    <div style="width: 30%;float: left;min-height:400px;overflow-y:auto;max-height:500px;">
        <span style="color:green">到总装的部件名称（规格型号）（数量）</span>
        <ul id="bcTree" class="ztree" style=""></ul>
    </div>
    <div style="width: 70%;height:100%;float: left">
        <div id="reigth" style="width: 96%;margin: 50px auto">
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="180" >部件名称</th>
                        <th width="180" >规格型号</th>
                        <th>到达的工序</th>
                    </tr>
                    </thead>
                    <tbody id="text">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script><script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__LIB__/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__LIB__/zTree/v3/js/jquery.ztree.core-3.5.js" ></script>
<script type="text/javascript" src="__LIB__/zTree/v3/js/jquery.ztree.excheck-3.5.js" ></script>
<script type="text/javascript">
    var zTreeObj;
    var setting = {
        view : {
            showIcon : false,//是否显示图标
            dblClickExpand : false,//是否双击展开/收起
            selectedMulti : false,//是否允许同时选中多个节点
            expandSpeed : 'fast',//展开速度fast、slow
            showTitle : false, //是否显示节点的title提示信息
            showLine: true,//是否显示节点间的连线
            nameIsHTML : true //设置 name 属性是否支持 HTML 脚本
        },
        data : {
            keep : {
                parent : true
            },
            simpleData : {
                enable : true,
                idKey : "id",
                pIdKey : "pId"
            }
        },
        callback : {
            /* 鼠标单击事件，判断是否是导航栏，然后跳转到展示页面 */
            onClick : function(event, treeId, treeNode, clickFlag) {

                var nodes = zTreeObj.getSelectedNodes();
                treeNode = nodes[0];
                var id=treeNode.id;
                var number = '{$number}';
                jQuery.ajax({
                    url : "/admin/matching/qrcodeRecord",
                    data : {id:id,number:number},
                    type : "POST",
                    dataType : "json",
                    cache : false,
                    success : function(data) {
                       console.log(data);
                        data = JSON.parse(data);
                        var m= '';
                        for (var i=0;i<data.length;i++) {
                            m += '<tr class="text-c" style="background-color:green"><td>'+data[i].inventory_class_name+'('+data[i].specification_type+')</td><td>'+data[i].base_code+'</td><td>'+data[i].process_name+'</td></tr>';
                        }
                        $('#text').html(m);
                    }
                });
            }
        }

    };
    function initTree() {
        var id = '{$specification_type}';
        var number = '{$number}';
        jQuery.ajax({
            url : "/admin/matching/getQrcodeRecord",
            data : {specification_type:id,number:number},
            type : "POST",
            dataType : "json",
            cache : false,
            success : function(data) {
                console.log(eval(data));
                data = eval(data);//ztree只认js对象，而不是字符串，所以eval转换下
                zTreeObj = $.fn.zTree.init($("#bcTree"), setting, data);
                $.fn.zTree.init($("#bcTree"), setting, data);
                var treeObj = $.fn.zTree.getZTreeObj("tree");
                //document.getElementById('bcTree_1_span').style.color = 'red';
            }

        });
    }
    $(document).ready(function(){
        initTree();
    });
</script>
</body>
</html>