<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__LIB__/html5shiv.js"></script>
<script type="text/javascript" src="__LIB__/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="__LIB__/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	用户管理 <span class="c-gray en">&gt;</span>
	账号管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<form action="/admin/Users/number_post" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row col-xs-8 col-sm-5">
            <div class="row cl">
                <input type="hidden" name="id" {if condition="$data!=''"} value="{$data['login_id']}" {/if}>
                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>员工工号：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" class="input-text" {if condition="$data!=''"} value="{$data['Job_number']}" {/if} placeholder="" id="Job_number" name="Job_number">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>账号名称：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="text" class="input-text" {if condition="$data!=''"} value="{$data['account_name']}" {/if} placeholder="" id="account_name" name="account_name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-4"><span class="c-red">*</span>账号密码：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="password" class="input-text" placeholder="" id="password" name="password">
                </div>
            </div>
            <div class="row cl"></div>
        </div>
        <div class="row col-xs-4 col-sm-7">
            <div class="row col-xs-6 col-sm-6">
                <label class="form-label col-xs-6 col-sm-8"><span class="c-red">*</span>分配角色：</label>
                <div class="row">
                    {foreach $roles as $vo}
                    <div class="form-label col-xs-6 col-sm-8"><input type="radio" name="role_id" value="{$vo['id']}" {if condition="$vo['id']==$role_id"} checked="checked"{/if}><span>{$vo['role_name']}</span></div>
                    {/foreach}
                </div>
            </div>
            <div class="row col-xs-6 col-sm-6" id="ids" style="display:block">
                <label class="form-label col-xs-6 col-sm-8"><span class="c-red"></span>检验的工序：</label>
                <div class="row">
                    <div class="row cl"> &numsp;</div>
                    <span class="select-box col-xs-4 col-sm-6">
                        <span class="c-red">*</span>检验码类型：
                    <select name="types" class="select" style="width:10rem">
                        <option value="1">扫码操作</option>
                        <option value="2">生码操作</option>
                    </select>
                    </span>
                    <div class="row cl"> &numsp;</div>
                    <span class="select-box col-xs-4 col-sm-6">
                        <span class="c-red">*</span>存货分类编码：
                        <input type="hidden" id="inventory_class_id" name="inventory_class_id" value="{$data==''?'':$data['inventory_class_id']}">
                        <input type="text" id="inventory_class_name" name="inventory_class_name" class="input-text"  placeholder="请输入存货分类名称或者存货分类编号" >
                        <ul id="searchResult" class="searchResult">
                        </ul>
                    </span>
                    <div class="row cl"> &numsp;</div>
                    <span class="select-box col-xs-4 col-sm-6">
                        <span class="c-red">*</span>工序名称：
                    <select name="process_id" class="select" style="width:10rem">
					{foreach name="process" item="vo"}
                        <option value='{$vo.id}'{if condition="$data!=''"} {if condition="$data['process_id']==$vo.id"} selected="selected"{/if} {/if}>{$vo['process_name']}</option>
                    {/foreach}
				    </select>
                    </span>
                    <div class="row cl"> &numsp;</div>
                </div>
            </div>
        </div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__LIB__/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

//监听input框，实时渲染
$('#inventory_class_name').on('input', function() {
    initSearchList($('#inventory_class_name').val());
});
function initSearchList (event) {
    if(event !='') {
        $.post("/admin/Users/vague/vague/"+event, function (data) {
            var m ='';
            for(var i=0;i<data.length;i++){
                //console.log(data[i]);
                m += "<li id='"+data[i].inventory_class_id+"' onclick='textClick("+data[i].inventory_class_id+")'>"+data[i].inventory_class_name+"</li>";
            }
            $('#searchResult').append(m);
        });
    }else{
        $('#searchResult').hide();
    }
}
function textClick(id){
    var name = document.getElementById(id).innerHTML;
    //console.log(name);
    document.getElementById("inventory_class_name").value=name;
    $("#inventory_class_id").attr("value",id);
    $("#searchResult").css("display","none");
}
$(document).ready(function(){
    $("input[name=role_id]").each(function(){
        $(this).click(function(){
            var discount = $(this).next("span").text();
            if(discount=='检验员'){
                document.getElementById('ids').style.display = "";
            }else{
                document.getElementById('ids').style.display = "none";
            }
        });
    });
});
window.onload=function (){
    var roles = $("input[name='role_id']:checked").next("span").text();
    if(roles=='检验员'){
        document.getElementById('ids').style.display = "";
    }else{
        document.getElementById('ids').style.display = "none";
    }
}
</script>
</body>
</html>