<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__LIB__/html5shiv.js"></script>
	<script type="text/javascript" src="__LIB__/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css" />
	<link rel="stylesheet" type="text/css" href="__LIB__/zTree/v3/css/zTreeStyle/zTreeStyle.css" />

	<!--[if IE 6]>
	<script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>存货分类管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	配套管理
	<span class="c-gray en">&gt;</span>
	配套列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<input type="text" name="" id="" placeholder="菜单名称、id" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
            <a id="add" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加配套成品</a>
			 <a id="add1" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加配套半成品</a>
            <a id="update" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe647;</i> 修改成品或半成品</a>
		</span>
	</div>
	<div style="width: 30%;float: left;min-height:400px;overflow-y:auto;max-height:500px;">
		<ul id="bcTree" class="ztree" style=""></ul>
	</div>
	<div style="width: 70%;height:100%;float: left">
		<div id="reigth" style="width: 96%;margin: 50px auto">
			<div id="insert" style="display: none;">
				<form class="form form-horizontal" id="form-article-add"  method="post" action="/admin/products/products_post">
					<div class="row cl">
						<input type="hidden" id="id" name="id">
						<label class="form-label col-xs-4 col-sm-2" >存货编号：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text"  class="input-text" value="" placeholder="" id="inventory_code" name="inventory_code">
						</div>
					</div><br>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">成品或半成品名称：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="" placeholder="" id="product_name" name="product_name">
						</div>
					</div><br>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">规格型号：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="" placeholder="" id="specification_type" name="specification_type">
						</div>
					</div><br>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">父节点：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="" placeholder="" id="pid" name="pid">
						</div>
					</div><br>
					<div class="row cl">
						<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
							<button   class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
							<button id="remove" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__LIB__/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__LIB__/zTree/v3/js/jquery.ztree.core-3.5.js" ></script>
<script type="text/javascript" src="__LIB__/zTree/v3/js/jquery.ztree.excheck-3.5.js" ></script>
<script type="text/javascript">
	var zTreeObj;
	var setting = {
		view : {
			showIcon : false,//是否显示图标
			dblClickExpand : false,//是否双击展开/收起
			selectedMulti : false,//是否允许同时选中多个节点
			expandSpeed : 'fast',//展开速度fast、slow
			showTitle : false, //是否显示节点的title提示信息
			showLine: true,//是否显示节点间的连线
			nameIsHTML : true //设置 name 属性是否支持 HTML 脚本
		},
		data : {
			keep : {
				parent : true
			},
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "pId"
			}
		},

		callback : {
			/* 鼠标单击事件，判断是否是导航栏，然后跳转到展示页面 */
			onClick : function(event, treeId, treeNode, clickFlag) {
				$("#id").val("");
				$("#specification_type").val("");
				$("#inventory_code").val("");
				$("#product_name").val("");
				$("#pid").val("");
				var nodes = zTreeObj.getSelectedNodes();
				//这里的逻辑是为修改和查看所预备的hidden
				$("#checkNodeId").val(nodes[0].id);
				$("#checkNodePid").val(nodes[0].pId);
				//默认进入查看页面
				var id=nodes[0].id;
				jQuery.ajax({
					url : "/admin/products/find",
					data : {id:id},
					type : "POST",
					dataType : "json",
					cache : false,
					success : function(data) {
						data = eval('(' + data + ')');//ztree只认js对象，而不是字符串，所以eval转换下
						$("#insert").css("display","block");
						$("#specification_type").val(data['specification_type']);
						$("#pid").val(data['id']);
					}

				});
			}
		}

	};

	function add() {
		$("#id").val("");
		$("#inventory_code").val("");
		$("#specification_type").val("");
		$("#product_name").val("");
		$("#pid").val("");
		var zTree = $.fn.zTree.getZTreeObj("bcTree"),
				nodes = zTree.getSelectedNodes(),
				treeNode = nodes[0];
		var id=-1;
		jQuery.ajax({
			url : "/admin/products/getcode",
			data : {id:id},
			type : "POST",
			dataType : "json",
			cache : false,
			success : function(data) {
				data = eval('(' + data + ')');//ztree只认js对象，而不是字符串，所以eval转换下
				$("#sel").css("display","none");
				$("#insert").css("display","block");
				$("#pid").val(id);
			}
		});

	};

	function add1() {
		$("#id").val("");
		$("#inventory_code").val("");
		$("#product_name").val("");
		$("#pid").val("");
		var zTree = $.fn.zTree.getZTreeObj("bcTree"),
				nodes = zTree.getSelectedNodes(),
				treeNode = nodes[0];
		var id=treeNode.id;
		jQuery.ajax({
			url : "/admin/products/getcode",
			data : {id:id},
			type : "POST",
			dataType : "json",
			cache : false,
			success : function(data) {
				data = eval('(' + data + ')');//ztree只认js对象，而不是字符串，所以eval转换下
				$("#sel").css("display","none");
				$("#insert").css("display","block");
				$("#pid").val(data['id']);
			}
		});

	};

	function update() {
		$("#id").val("");
		$("#inventory_code").val("");
		$("#product_name").val("");
		$("#pid").val("");
		//alert('update');
		var zTree = $.fn.zTree.getZTreeObj("bcTree"),
				// isParent = e.data.isParent,
				nodes = zTree.getSelectedNodes(),
				treeNode = nodes[0];
		var id=treeNode.id;
		jQuery.ajax({
			url : "/admin/products/find",
			data : {id:id},
			type : "POST",
			dataType : "json",
			cache : false,
			success : function(data) {
				data = eval('(' + data + ')');//ztree只认js对象，而不是字符串，所以eval转换下
				$("#sel").css("display","none");
				$("#insert").css("display","block");
				$("#id").val(data['id']);
				$("#inventory_code").val(data['inventory_code']);
				$("#product_name").val(data['product_name']);
				$("#pid").val(data['pid']);
			}
		});

	};

	function sub(){
		var id=$("#id").val();
		var inventory_code=$("#inventory_code").val();
		var product_name=$("#product_name").val();
		var pid=$("#pid").val();
		jQuery.ajax({
			url : "/admin/products/submit",
			data : {id:id,inventory_code:inventory_code,product_name:product_name,pid:pid},
			type : "POST",
			dataType : "text",
			cache : false,
			success : function(data) {
				alert(data);
			}
		});
	}
	function remove(){
		//alert("取消");
		$("#sel").css("display","none");
		$("#insert").css("display","none");
		$("#id").val("");
		$("#pid").val("");
		$("#inventory_code").val("");
		$("#product_name").val("");

	}

	function initTree() {
		jQuery.ajax({
			url : "/admin/products/products_json",
			data : {},
			type : "POST",
			dataType : "json",
			cache : false,
			success : function(data) {
				data = eval(data);//ztree只认js对象，而不是字符串，所以eval转换下
				zTreeObj = $.fn.zTree.init($("#bcTree"), setting, data);
				$.fn.zTree.init($("#bcTree"), setting, data);
				var treeObj = $.fn.zTree.getZTreeObj("tree");
			}

		});
	}
	$(document).ready(function(){
		initTree();
		$("#add").bind("click",add);
		//$("#submit").bind("click",sub);
		$("#remove").bind("click",remove);
		$("#update").bind("click",update);
	});
</script>
</body>
</html>